<!DOCTYPE html>
<html>
<head>
	<title>alipay</title>
</head>
<style>
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
</style>
<body>
	<center><h1 style="align-">Alipay QR-code for payment</h1></center>
	<center><img src="{{ qr_alipay }}"></center>

	<a href="{% url 'home-page' %}">
	<center><button class="button">Home</button></center>
	</a>

</body>
</html>
